<ag-grid-angular #myGrid style="height: 650px; width:500px;" class="ag-theme-alpine" [defaultColDef]="defaultColDef"
    [rowData]="rowData" [columnDefs]="columnDefs" rowSelection="multiple" [pagination]="true"
    [paginationPageSize]="pageSize" [defaultExcelExportParams]="defaultExcelExportParams"
    [allowContextMenuWithControlKey]="true" [getContextMenuItems]="getContextMenuItems"
    [overlayLoadingTemplate]="overlayLoadingTemplate" [overlayNoRowsTemplate]="overlayNoRowsTemplate">

</ag-grid-angular>